target/
bin/
*.class
.settings/
.project
.classpath
.factorypath
.idea/
*.iml
*.log
ferramentas/
!ferramentas/lib/
!ferramentas/lib/*.dll
!motor-nucleo/src/main/resources/fonts/
query

# Segurança e Credenciais
database.properties
.env
*.properties
!src/main/resources/application.properties

# Frontend (Removido)
frontend/
node_modules/

# OS files
.DS_Store
Thumbs.db
